body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input#username {
    text-align: center;  /* 수평 중앙 배치 */
    padding: 10px 2px;  /* 상하 패딩을 10px로 설정하여 수직 중앙에 배치 */
}


